* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(99, 113, 128);
    height: 100vh;

}

h1 {
    padding-top: 10px;
    color: rgb(255, 153, 0);
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: xxx-large;
    text-shadow: rgb(255, 0, 0) 1px 0 10px;
}

footer {
    text-align: center;
    font-family: 'Trebuchet MS';
    margin-top: 15px;
    font-size: large;
    color: rgb(255, 176, 123);
    text-shadow: rgb(255, 123, 0) 1px 0 10px;
    
}

.time {
    font-size: 1.7rem;
    font-family: 'Trebuchet MS';
    /* width: 200px; */
    margin-bottom: 5px;
}

.cell {
    background-color: rgb(165, 184, 189);
    /* border: 2px outset rgba(245, 124, 10, 0.301); */
    background-size: 100%;
    font-weight: 900;
}

table {
    margin: auto;
    margin-top: 20px
}

.board-container td {
    width: 40px;
    height: 40px;
    margin: auto;
    text-align: center;
    transition: 0.25s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.board-container td:hover {
    background-color: rgba(91, 130, 139, 0.151);
}

.header {
    color: rgb(248, 238, 229);
    margin: auto;
    text-align: center;
    width: 200px;
    flex-direction: column;
    padding: 10px;
}

.levels {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.lives {
    font-size: xx-large;
    text-align: center;
    color: rgb(235, 114, 44);
    text-shadow: rgb(255, 0, 0) 1px 0 7px;
}

button {
    border-radius: 10px;
    font-size: large;
    height: 35px;
    width: 80px;
    cursor: pointer;
    background-color: rgb(182, 195, 207);
    box-shadow: rgba(31, 31, 31, 0.25) 0px 2px 3px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 0ch;
}

button:hover {
    background-color: rgb(219, 219, 219);
}

.restart {
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
    height: 40px;
    width: 150px;
}

.score {
    margin-top: 5px;
    font-size: 1.3rem;
    text-shadow: rgb(85, 84, 84) 1px 0 10px;

}

h2 {
    margin-top: 5px;
    color: rgb(252, 189, 94);
    text-shadow: rgba(255, 62, 62, 0.651) 1px 0 7px;
    text-align: center;
}

.mode {
    max-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: LightSlateGray;
    margin-bottom: 7px;
}

.mode:hover {
    background-color: LightSlateGray;
}
